:root{
  --color1: #1f2041;
  --color2: #8470ff;
  --color3: #907eff;
  --color4: #9d8dff;
  --color5: #a99bff;
  --color6: #b5a9ff;
  --color7: #c2b8ff;
  --color8: #cec6ff;
  --color9: #dad4ff;
  --color10: #e6e2ff;
  --color11: #f3f1ff;
  --color12: #6C55ED;
}

body{
  font-family: 'Poppins', sans-serif;
}

header{
    background-color: var(--color1);
}

.navigation-menu{
  height: 100vh;
  color: var(--color11);
  font-size: 30px;
}

.logo{
  padding-left: 50px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
  list-style-type: none;
  font-size: 20px;
}

a{
  padding: 0 50px 0 50px;
  text-decoration: none;
  color: var(--color11);
}

.nav-element:hover{
  color: var(--color12);
  border-bottom: 2px solid var(--color12)
}

h1{
  font-size: 90px;
  margin: 0;
  padding: 0;

}

p{
  margin: 0;
  font-weight: 400;
}

.header-area{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-text{
  margin-left: 70px;
}

.button{
  width: 200px;
  padding: 10px 5px 10px 5px;
  border-radius: 30px;
  background-color: var(--color12);
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: var(--color11);
  cursor: pointer;
}

.button:hover{
  background-color: var(--color2);
}

.button:active{
  background-color: #1f294f;
  color: silver;
}

.socials{
  margin: 50px;
}

.social{
  margin-top: 20px;
}

